{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ range .Site.RegularPages }}
                <div class="post-preview">
                    <a href="{{ .Permalink }}">
                        <h2 class="post-title">
                            {{ .Title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ .Description }}
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted on {{ .Date.Format "January 2, 2006" }}
                    </p>
                </div>
                <hr>
            {{ end }}
        </div>
    </div>
</div>
{{ end }} 